# Logs
logs
*.log

# Dependency directories
node_modules/
package-lock.json
yarn.lock

# Build files
dist/
build/
*.exe
*.dll
*.so
*.dylib

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db